<h1>Listing manuscripts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Main lang</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @manuscripts.each do |manuscript| %>
  <tr>
    <td><%= manuscript.name %></td>
    <td><%= manuscript.main_lang_name %></td>
    <td><%= link_to 'Show', manuscript %></td>
    <td><%= link_to 'Edit', edit_manuscript_path(manuscript) %></td>
    <td><%= link_to 'Destroy', manuscript, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Manuscript', new_manuscript_path %>
