<table class="lang">
  <tr>
    <th class="name">Name</th>    
    <th class="code">Bib code</th>
    <th class="code">Term code</th>
    <th class="code">639.1</th>
    <th class="action">Remove</th>
  </tr>

<% @langs.each do |lang| %>
  <tr class="<%= cycle('table-row-odd', 'table-row-even') %>">
    <td><%= h lang.name %></td>    
    <td><%= h lang.alpha3 %></td>
    <td><%= h lang.alpha3_terminologic %></td>
    <td><%= h lang.alpha2 %></td>
    <td>
      <%= form_for lang, remote: true do |f| %>
        <%= f.submit "Delist" %>
      <% end -%>
    </td>
  </tr>
<% end %>
</table>


